* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {

   --body: #fafbff;
   --navbar: rgb(243, 247, 253);
   --navbarblur: rgba(243, 247, 253, 0.5);

   --primary: #f5f8fd;
   --secondary: #ffffff;
   --tertiary: #f1f5fe;
   --google: #f1f1f1;

   --input: #f1f5fe;

   --btn: #a8c7fa;
   --btn2: #e4eefa;
   --btn3: #0b57d0;

   --btn-hover: #e0ebfa: --btn-hover2:#0b57d0;
   --btn-hover3: #e4eefa;

   --text: #041e49;
   --text2: #96a1b3;
   --text3: #4f6286;
   --text4: #7f8897;
   --text5: black;

   --textB: #d3e3fd;

   --inputBG: #f1f5fe;
   --inputTXT: #041e49;


   --text-sel: #0b57d2;

   --navHoverBlur: rgba(228, 238, 250, 0.5);

   --border: #e1e5ec;
   --border2: #b0b9c8;

   --scrollbar: #e1e5ec;
   --scrollbar-thumb: #b0b9c8;
   --scrollbar-thumb-hover: #a8c7fa;
   --scrollbar-track: #f1f5fe;

   --selection: #a8c7fa;


   --toast: #777;
   --toast-color: #e3e6ed;
   --sidebar-blur: rgba(255, 255, 255, 0.5);

}

body.dark {
   --body: #031525;
   --navbar: #071a2b;
   --navbarblur: rgba(7, 26, 43, 0.5);

   --primary: #162c46;
   --secondary: #0d2136;
   --tertiary: #04182d;
   --google: #0d2136;

   --input: #223158;

   --btn: #0842a0;
   --btn2: #10243a;
   --btn3: #7cacf8;

   --btn-hover: #10263c: --btn-hover2:#aecbfa;
   --btn-hover3: #233549;

   --text: #d3e3fd;
   --text2: #93a4bb;
   --text3: #97a4a7;
   --text4: #7f8897;
   --text5: white;

   --textB: #041e49;

   --inputBG: #10243a;
   --inputTXT: #d3e3fd;


   --text-sel: #aecbfa;

   --navHoverBlur: rgba(35, 53, 73, 0.5);

   --border: #071a2b;
   --border2: #415366;

   --scrollbar: #415366;
   --scrollbar-thumb: #93a4bb;
   --scrollbar-thumb-hover: #aecbfa;
   --scrollbar-track: #0d2136;

   --selection: #aecbfa;

   --toast: #31374a;
   --toast-color: #e3e6ed;
   --sidebar-blur: rgba(20, 24, 36, 0.5);

}

body {
   font-family: "Space Grotesk", sans-serif;
   color: var(--text) !important;
   background-color: var(--body) !important;
   transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
}

.nav__burger {
   display: none;
   cursor: pointer;
}

/* Add this media query to handle responsive styles */
/* Add this media query to handle responsive styles */
@media only screen and (max-width: 768px) {

   .nav__burger {
      display: block;
   }


   .nav {
      margin-bottom: 30px;
   }

   .nav__links {
      display: none !important;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: var(--body);
      z-index: 999;
      border-bottom: 1px solid var(--border);
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 20px;
      border-radius: 12px;
      gap: 50px;
   }

   .nav__links.show {
      display: flex !important;
   }

   .nav__links a {
      padding: 15px;
      text-align: center;
      color: var(--text);
      /* Add this line to ensure proper text color */
      width: 80%;
      border: 1px solid var(--border2);
   }

   .nav__auth {
      display: none;
   }

   .burger-line {
      width: 25px;
      height: 3px;
      background-color: var(--text);
      margin: 6px 0;
      transition: 0.4s;
   }

   .nav__burger.active .burger-line:nth-child(1) {
      transform: rotate(-45deg) translate(-7px, 8px);
   }

   .nav__burger.active .burger-line:nth-child(2) {
      opacity: 0;
   }

   .nav__burger.active .burger-line:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
   }
}


.nav {
   transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 55px;
   padding: 0 15px;
   position: fixed;
   top: 20px;
   left: 0;
   width: 100%;
   z-index: 1000;

   flex-wrap: wrap;
}

.nav__logo {
   font-size: 1.5rem;
   font-weight: 700;
   color: white;
   text-decoration: none;
   cursor: pointer;
   user-select: none;
   background-color: rgba(0, 0, 0, 0.9);
   backdrop-filter: blur(10px);
   padding: 7px 15px;
   width: 210px;
   height: 50px;
   text-align: center;
   border-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
}

.nav__logo:active {
   transform: scale(0.95);
}

.navs {
   display: flex;
   align-items: center;
   gap: 20px;
   height: 50px;
}

.nav__links {
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 16px;
   text-decoration: none;
   background-color: rgba(255, 255, 255, 0.75);
   border-radius: 30px;
   backdrop-filter: blur(10px);
   border: 1px solid #b0b9c8;

}

.nav__links a {
   color: #7f8897;
   text-decoration: none;
   font-weight: 500;
   padding: 10px 15px;
   background-color: transparent;
   border: none;
   display: flex;
   align-items: center;

   position: relative;
   gap: 5px;
   cursor: pointer;
   border-radius: 4px;
   transition: all 0.2s ease;
}


.nav__links a {
   display: flex;
   align-items: center;
}


.nav__links a:hover {
   color: black;
   border-radius: 30px;
   transform: scale(1.05);
}

.nav__links a.active {
   color: black;
}

.nav__auth {
   display: flex;
   align-items: center;
   gap: 12px;
}

.nav__auth span {
   color: black;
   background-color: white;
   border-radius: 30px;
   text-decoration: none;
   font-size: 1rem;
   font-weight: 500;
   transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
   padding: 10px 15px;
   cursor: pointer;
   border: 1px solid #b0b9c8;
}

.nav__auth span:hover {
   background-color: #e4eefa;
   transform: scale(1.05);
}

.nav__auth span:active {
   transform: scale(0.95);
}

::selection {
   background-color: var(--selection);
   color: black;
}

.profile {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;

   background-color: var(--secondary);
   border-radius: 12px;
   padding: 20px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
   border: 1px solid var(--border);
   width: 100%;
   min-height: 50vh;
   height: fit-content;
   margin-bottom: 100px;
}

.profile .it {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 45%;
   height: 100%;
}

.it .profile__info {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;

}

.profile__info__item {
   display: flex;
   flex-direction: row;
   gap: 10px;
   width: 100%;
   background-color: var(--primary);
   padding: 10px 15px;
   border-radius: 5px;
   border: 1px solid var(--border2);
}

.profile__info__item p {
   text-wrap: wrap;
   font-size: 1rem;
   word-break: break-all;
}

.profile__buttons {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
   height: 100%;
}

.profile__buttons button {
   background-color: var(--primary);
   color: var(--text);
   border: 1px solid var(--border2);
   border-radius: 5px;
   padding: 10px 15px;
   font-size: 1rem;
   font-weight: 500;
   transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
   cursor: pointer;
   width: 50%;
   margin: 0 auto;
}

.profile__buttons button:hover {
   background-color: var(--btn2);
}

.profile__info__item img {
   width: 100%;
   height: 50%;
   object-fit: cover;
}


@media screen and (max-width: 1300px) {
   .profile .it {
      width: 100%;
   }

}

.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 9999;
}

.modal-container {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--secondary);
   min-width: 320px;
   max-width: 480px;
   border-radius: 0.5rem;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
   z-index: 10000;
   transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0ms;
   animation: popupFadeIn 0.357s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-header {
   padding: 1.5rem;
   border-bottom: 1px solid var(--border);
}

.modal-title {
   font-size: 1.25rem;
   font-weight: 600;
}

.modal-content {
   padding: 1.5rem;
   max-height: 70vh;
   overflow-y: auto;
}

.modal-footer {
   padding: 1.5rem;
   border-top: 1px solid var(--border);
   text-align: right;
}

.modal-footer button {
   padding: 0.7rem 1rem;
   background-color: var(--btn2);
   border: transparent;
   color: var(--text);
   border-radius: 0.25rem;
   transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0ms;
   cursor: pointer;
}

.modal-footer button:hover {
   background-color: #cbd5e1;
}

footer {
   background-color: var(--navbar);
   color: var(--text);
   text-align: center;
   padding: 20px 0;
   font-size: 1rem;
   font-weight: 500;
   border-top: 1px solid var(--border);
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
}

footer a {
   color: var(--text2);
   text-decoration: none;
   font-weight: 600;
}

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-thumb {
   background-color: var(--scrollbar-thumb);
   border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
   background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-track {
   background-color: var(--scrollbar-track);
}